.about {
    margin: 0;
    color: #415B41;
    background-color: #94B394;
    font-weight: 500;
}
.about-h1{
    font-size: 3rem;
    padding-left: 5vw;
    padding-top: 2rem;
    margin-bottom: 0;
    color:white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}
.about-h2{
    font-size: 1.5rem;
    padding-left: 7vw;
    margin-top: 0;
    margin-bottom: 0;
    color:white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}
.about-p{
    font-size: 1rem;
    color: black;
    padding-left: 7vw;
    padding-right: 6vw;
    padding-bottom: 10px;
    margin-top: 10px;
    flex: 1 1 48%;
    width: 80vw;
    min-width: 300px;
    line-height: 30px;
}

.about-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-left: 7vw;
    padding-right: 6vw;
    align-items: flex-start;
}
.about-box {
    font-size: 1.2rem;
    flex: 1 1 20vw;
    min-width: 200px;
    text-align: left;
    line-height: 2rem;
}

/*Medium screen*/
@media (max-width: 1000px) {
    .about-p2 {
        flex: 1 1 100%;
        width: 80vw;
    }

    .about-box {
        flex: 1 1 45%;
    }
}

/*Small screen*/
@media (max-width: 800px) {
    .about-box {
        padding-left: 7vw;
        flex: 1 1 100%;
    }
}
