.contact-row{
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: center;
    gap: 2rem;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #B7CCB7;
}
.contact-image{
    padding: 0.5rem;
    width: auto;
    height: 40px;
}
.contact-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #de87c1;;
    border-radius: 15px;
}