.hero {
    position: relative;
    width: 100%;
    height: 70vh;
    padding-top: 6rem;
    overflow: hidden;
}
.pfp{
    max-width:20vw;
    border-radius: 50%;
}
.hero-image{
    position: absolute;
    left: 0;
    width: 100%;
    min-height: 60vh; /*do not change*/
    object-fit: cover;
    z-index: -1;
    display: block;
}
.hero-text {
    position: absolute;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 1rem;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -30%);
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.6);
}

.hero-text h1 {
    font-size: 4rem;
    margin: 0;
    padding-bottom: 0;
}

.hero-text p {
    font-size: 2rem;
    margin:0;

}
.intro {
    color: #415B41;
    font-weight: 500;
    justify-content: center;
    display: flex;
    gap: 10rem;
    margin: 3rem 5rem;
}
.intro-square{
    background-color: #94B394;
    max-width: 50rem;
    min-width: 30rem;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:2rem;
}
.intro-h1{
    font-size: 4rem;
    padding: 0;
    margin: 0;
    color:white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    line-height: 1;
}
.intro-h2{
    font-size: 2rem;
    /*padding-left: 2rem;*/
    margin: 0;
    /*padding-right:2rem;*/
    color:white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}
.intro-p{
    font-size: 1.2rem;
    padding: 0 2rem 1rem 2rem;
}
/*.intro-img{*/
/*    width: auto;*/
/*    max-height: 24rem;*/
/*    height: 100%;*/
/*    margin-right: 10rem;*/
/*    display: inline-block;*/
/*    border: 8px ridge white;*/
/*}*/

/* Responsive tweaks */
@media (max-width: 1280px) {
    .hero {
        height: 60vh;
    }

    .hero-text h1 {
        font-size: 3rem;
    }

    .hero-text p {
        font-size: 1.5rem;
    }
}

/*Medium screen*/
@media (max-width: 850px) {
    .intro-h2{
        font-size:1.8rem;
    }
}
/*Small screen*/
@media (max-width: 750px) {
    .intro{
        margin: 2rem 3rem;
    }
    .intro-h1{
        font-size:3.5rem;
    }
    .intro-h2{
        font-size:1.5rem;
    }
}