.Cards{

    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    column-gap: 2%;
    padding: 2em;
    /*overflow-wrap: normal;*/
}
.proj {
    background-color: #709970;
    width: 100%;
}
.proj-h1{
    font-size: 3rem;
    padding-left: 5vw;
    padding-top: 1rem;
    margin-bottom: 0;
    color:white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}
.proj-p{
    font-size: 1.5rem;
    padding-left: 5vw;
    margin-top: 0;
    color:white;
}