.cards-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}


.project-card {
    width: 90%;
    max-width: 600px;
    border: 2px solid #ccc;
    border-radius: 16px;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}


.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #415B41;
}


.card-title {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0;
}


.github-icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
}


.divider {
    width: 100%;
    height: 2px;
    background: #ddd;
    margin: 15px 0;
}


.card-description {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
    color: black;
}


.tools-row {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.tools-label {
    font-weight: 600;
    color: black;
}


.tools-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}


.tool-pill {
    background: #de87c1;
    padding: 6px 12px;
    border-radius: 12px;
    font-size: 0.9rem;
    font-weight: 500;
}