/*#Resume {*/
/*    padding-top: 60px;*/
/*    text-align: left;*/
/*    margin: 0;*/
/*    width: 80vw;*/
/*    justify-content: center;*/
/*}*/
.resume {
    padding-bottom: 50px;
}
.resume-h1{
    font-size: 3rem;
    text-align: center;
    padding-top: 7rem;
    margin-bottom: 0;
    color: #415B41;
}
.resume-p{
    text-align: center;
    color: white;
    margin:0;
}
.resume-button{
    background-color: #415B41;
    color: white;
    padding: 0.7rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
}
.resume-button-wrapper {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}
.pdf-box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    width: 80vw;
    height: 90vh;
    border: 1px solid #ccc;
    overflow: hidden;
}

.pdf-box iframe {
    width: 100%;
    height: 100%;
    border: none;

}
.about-photos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 1.5vw;
    margin-bottom: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 3vw;
    padding-right: 3vw;
    background-color: #c8dcc8;
    border-radius: 30px;
}

.about-image{
    width: auto;
    height: 5vw;
}

/*.entry{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    margin-bottom: 2em;*/
/*}*/

/*.entry > * {*/
/*    margin: 0;*/
/*}*/
/*.entry > * > * {*/
/*    margin: 0;*/
/*}*/

/*.title-row{*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*}*/

/*.section{*/
/*    font-size: x-large;*/
/*    !* border-bottom: 1px solid black; *!*/
/*}*/

/*.title{*/
/*    font-size: larger;*/
/*    font-weight: 600;*/
/*}*/

/*.subtitle{*/
/*    font-style: italic;*/
/*}*/